<html>
  <head>
    <link rel="stylesheet" href="../stylesheets/style.css">
    <title>LES THUNES</title>
  </head>
  <body>
    <div id="navbar">
      <img src="../stylesheets/images/logo.png" alt="logo 4L Los Pimientos">
      <a class="link" href="home.html">Los Pimientos</a>
      <a class="link" href="4LTrophy.html">Le 4L Trophy</a>
      <a class="link" href="sponsors.html">Nos sponsors</a>
      <a class="link" href="nousSoutenir.html">Nous soutenir</a>
      <a class="link" href="">Nous contacter</a>
    </div>

    <h1>Filez les thunes bandes de batards</h1>
    <div id="helloasso">
      <p>Le but de notre voyage est de faire un Gofast avec la 4L blindée de résine de cannabis.</p>
      <p>Lien pour soutenir notre association via le site helloasso => <a href="https://www.helloasso.com/associations/les-piments-basques/formulaires/1" target="_blank">LA  GROSSE MOULA</a></p>
      
    </div>
  </body>
</html>
