<html>
  <head>
    <link rel="stylesheet" href="../stylesheets/style.css">
    <title>Nos Sponsors</title>
  </head>
  <body>
    <div id="navbar">
      <img src="../stylesheets/images/logo.png" alt="logo 4L Los Pimientos">
      <a class="link" href="home.html">Los Pimientos</a>
      <a class="link" href="4LTrophy.html">Le 4L Trophy</a>
      <a class="link" href="sponsors.html">Nos sponsors</a>
      <a class="link" href="nousSoutenir.html">Nous soutenir</a>
      <a id="openModalBtn" class="link">Nous contacter</a>
    </div>

    <div id="myModal" class="modal">
      <div class="modal-content">
        <span class="close">&times;</span>
        <p>Notre Insta, mails et numéros</p>
      </div>
    </div>

    <div id="main">
      <h1>SPONSORS</h1>
      <ul>
        <li>Chocapic</li>
        <li>Jurassic Park</li>
        <li>Petit Bateau</li>
        <li>Kleenex</li>
      </ul>
    </div>
    <script src="../stylesheets/javascript/modal.js"></script>
  </body>
</html>
