.link {
  border-left: 2px solid lightgrey;
  padding: 25px;
  text-decoration: none;
  color: #178f44;
}

.link:hover {
  background-color: lightgrey;
  color: #cc2429;
}

#navbar {
  background-color: #f8f9fa;
  top: 0;
  text-align: center;
  border-radius: 4px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: min-content;
  /* width: 100%; */
  position: fixed;
  max-width: 850px;
}

#navbar img {
  width: auto;
  height: 100px;
}

#main {
  margin-left: 20px;
  padding-top: 100px;
  max-width: 700px;
}
